video {
  width: 100%;
  background: grey;
}

p.video-description {
  color: #fff;
  font-size: 16px;
  padding: 10px  0  0 10px;
  position: absolute;
  top: 0px;
  left: 10px;
}
.color-call{
  background: green;
  color:#fff;
}
button {
  margin: 1em;
}
.btn-block{
  display: flex;
  width: 100%;
}
.btn-camera{
  position: relative;

}
.camera-img-1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 18px;
}
.camera-img-2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 39px;
  height: 28px;
}

.btn-micro{
  position: relative;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25px;
    height: 30px;
  }
}
